################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/OpenGL-basico/v16
/Debug/OpenGL-basico.pdb
/Debug/OpenGL-basico.ilk
/Debug/OpenGL-basico.exe
/OpenGL-basico/Debug/OpenGL-basico.tlog
/OpenGL-basico/Debug/vc142.pdb
/OpenGL-basico/Debug/vc142.idb
/OpenGL-basico/Debug/vc120.pdb
/OpenGL-basico/Debug/vc120.idb
/OpenGL-basico/Debug/OpenGL-basico.log
/OpenGL-basico/Debug/OpenGL-basico.Build.CppClean.log
/OpenGL-basico.v12.suo
/OpenGL-basico.sdf
/OpenGL-basico/OpenGL-basico.vcxproj.user
