################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/OpenGL-basico/v16
/Debug/OpenGL-basico.pdb
/Debug/OpenGL-basico.ilk
/Debug/OpenGL-basico.exe
/OpenGL-basico/Debug/OpenGL-basico.tlog
/OpenGL-basico/Debug/vc142.pdb
/OpenGL-basico/Debug/vc142.idb
/OpenGL-basico/Debug/vc120.pdb
/OpenGL-basico/Debug/vc120.idb
/OpenGL-basico/Debug/OpenGL-basico.log
/OpenGL-basico/Debug/OpenGL-basico.Build.CppClean.log
/OpenGL-basico.v12.suo
/OpenGL-basico.sdf
/OpenGL-basico/OpenGL-basico.vcxproj.user
/Freeimage/.vs/VSWorkspaceState.json
/Freeimage/.vs/slnx.sqlite
/Freeimage/.vs/ProjectSettings.json
/Freeimage/.vs/Freeimage/v16/Browse.VC.db
/Freeimage/.vs/Freeimage/v16/.suo
/OpenGL-basico/Historial/**
/OpenGL-basico/Debug/Sphere.obj
/OpenGL-basico/Debug/Table.obj
/OpenGL-basico/Debug/ImageIO.obj
/OpenGL-basico/Debug/Cylinder.obj
